{% extends 'base.html.twig' %}
{% block title %}DTI-Prueba{% endblock %}
{% block body %}
{{ parent() }}
<section id="container" align="center" >
    <!--main content start-->
    <section id="main-content" align="center">
        <section class="wrapper" align="center">
          <div class="page-header">
					           <h1>Bienvenido</h1>
				    </div>

        </section>
      </section>
      </section>
{% endblock %}
{% block footer %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$('#jorge').click(function(e){
  // e.preventDefault();
      var nombreAct, descripcionAct,fechaInicioAct;
      // nombreAct=  $('#form_parent_menu').val().trim();
      descripcionAct=$('#squirrelbundle_menuitem_nombremenu').val().trim();
  if(  descripcionAct == ''  ){
      swal(
    'Oops...',
    'Debes de llenar el formulario Completamente!',
    'error'
  );
    }
    else {
      swal(
  'Excelente!',
  'Nuevo Menu !',
  'success'
);
    }
});// fin del click function de guardar actividades
</script>

{% endblock %}
